<h2 mat-dialog-title>
  {{ data.mode === 'create' ? 'Crear usuario' : 'Editar usuario' }}
</h2>

<div mat-dialog-content [formGroup]="form" class="content">
  <mat-form-field appearance="outline">
    <input matInput formControlName="name" placeholder="nombre"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <input matInput formControlName="email" placeholder="email"/>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Rol</mat-label>
    <mat-select formControlName="role">
      @for (r of roles; track r.value) {
        <mat-option [value]="r.value">
          {{ r.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  @if (data.mode === 'create') {
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        formControlName="password"
        placeholder="Ingrese una contraseña"
      />
    </mat-form-field>
  }
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button (click)="save()">
    {{ data.mode === 'create' ? 'Crear' : 'Guardar' }}
  </button>
</div>
