<div class="page-header">
  <h2 class="page-title">Usuarios</h2>
  <span class="spacer"></span>

  <button mat-raised-button color="primary" (click)="openCreate()">
    Nuevo usuario
  </button>
</div>

<div class="filters" [formGroup]="filterForm">
  <mat-form-field appearance="outline">
    <mat-label>Buscar (nombre o email)</mat-label>
    <input matInput formControlName="name" placeholder="Ej: ana / @gmail" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Rol</mat-label>
    <mat-select formControlName="role">
      @for (r of roleOptions; track r.value) {
        <mat-option [value]="r.value">
          {{ r.label }}
        </mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>

<div class="table-card">
  <table mat-table [dataSource]="dataSource" matSort class="table">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
      <td mat-cell *matCellDef="let u">{{ u.name || '-' }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let u">{{ u.email }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
      <td mat-cell *matCellDef="let u">{{ u.role }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="actions-head">Acciones</th>
      <td mat-cell *matCellDef="let u">
        <div class="actions">
          <button mat-icon-button (click)="openEdit(u)" aria-label="edit">
            <mat-icon>edit</mat-icon>
          </button>

          <button
            mat-icon-button
            (click)="delete(u)"
            aria-label="delete"
            [disabled]="u.id === meId()"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
