<mat-sidenav-container class="container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/tasks">Tareas</a>
      <a mat-list-item routerLink="/users">Usuarios</a>
      <a mat-list-item routerLink="/login">Login</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar>
      <span>Mini-Jira</span>
      <span class="spacer"></span>

      <ng-container *ngIf="user$ | async as user">
        <span class="user">Hola, {{ user.name ?? user.email }} ({{ user.role }})</span>
        <button mat-stroked-button (click)="logout()">Logout</button>
      </ng-container>

      <ng-container *ngIf="!(user$ | async)">
        <a mat-stroked-button routerLink="/login">Login</a>
      </ng-container>
    </mat-toolbar>


    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
